[Desktop Entry]
Type=Application
Version=1.0
Name=Pyenv Native
GenericName=Python Environment Manager
Comment=Manage Python versions and virtual environments
Exec=@EXEC@
Icon=com.pyenv-native.gui
StartupWMClass=pyenv-gui
Categories=Development;Utility;
Terminal=false
